---
import { Image } from 'astro:assets';
import Layout from "/src/layouts/layout.astro"
import About from "/src/sections/about.astro";
import Experience from "/src/sections/experience.astro";
import Projects from "/src/sections/projects.astro";
import Skills from "/src/sections/skills.astro";
import Section from "/src/components/section.astro";
import ButtonToolTip from "/src/components/buttonToolTip.astro";
import ButtonExpand from "/src/components/buttonExpand.astro";
import Text from "../components/text.astro";
import Profile_Photo from "../assets/photos/profile_photo.jpg";
import Github_logo from "../assets/logos/github_logo.svg";
import Linkedin_logo from "../assets/logos/linkedin_logo.svg";
import Email_icon from "../assets/icons/email_icon.svg";
import Map_icon from "../assets/icons/map_icon.svg";
---
<Layout align="center">
    <Section mt="true">
        <div class="flex flex-row gap-10 mb-8">
            <div class="w-24 h-20 rounded-full overflow-hidden shadow-lg">
                <Image src={Profile_Photo} alt=""/>
            </div>
            <div class="flex flex-row justify-between w-full">
                <div class="flex flex-col">
                    <Text type="title" text="Hola, soy adardev"/>
                    <Text type="subtitle" text="Desarrollador Web y Movil"/>
                </div>
                <ButtonToolTip iconSrc="/src/assets/icons/cv_icon.svg" label="Ver curriculum Vitae" link="/cvs/adardevCV.pdf"/>
            </div>
        </div>
        <div class="flex flex-row gap-5 justify-start">
            <ButtonExpand link="https://github.com/adardev" iconSrc={Github_logo} label="/adardev" hoverClass="hover:w-[7.2rem]" altIconSrc={null}/>
            <ButtonExpand link="https://www.linkedin.com/in/adardev" iconSrc={Linkedin_logo} label="/in/adardev" hoverClass="hover:w-[8.3rem]"/>
            <ButtonExpand link="mailto:adarlopz.dev@gmail.com" iconSrc={Email_icon} label="adarlopz.dev@gmail.com" hoverClass="hover:w-[16rem]" altIconSrc="/src/assets/icons/email_icon.svg"/>
            <ButtonExpand link="https://maps.app.goo.gl/jgDoBZkpe1rsiSNm7" iconSrc={Map_icon} label="Guadalajara, México" hoverClass="hover:w-[11.8rem]"/>
        </div>
    </Section>
    <About/>
    <Experience/>
    <Projects/>
    <Skills/>
</Layout>