---
import { Image } from 'astro:assets';
import Layout from "../layouts/Layout.astro"
import About from "../sections/about.astro";
import Experience from "../sections/experience.astro";
import Projects from "../sections/projects.astro";
import Skills from "../sections/skills.astro";
import Section from "../components/section.astro";
import ButtonToolTip from "../components/buttonToolTip.astro";
import ButtonExpand from "../components/buttonExpand.astro";
import Text from "../components/text.astro";
import Profile_Photo from "../assets/photos/profile_photo.jpg";
import Github_logo from "../assets/logos/github_logo.svg";
import Youtube_logo from "../assets/logos/youtube_logo.svg";
import Linkedin_logo from "../assets/logos/linkedin_logo.svg";
import Email_icon from "../assets/icons/email_icon.svg";
import Map_icon from "../assets/icons/map_icon.svg";
import Phone_icon from "../assets/icons/phone_icon.svg";
import Adardev_logo from "../assets/logos/adardev_logo.svg";
import Cv_icon from "../assets/icons/cv_icon.svg";
---
<Layout orientation="row" align="center">
    <Section mt="true">
        <Section extraClass="flex flex-col sm:flex-row gap-6 sm:gap-10 mb-8" padding="false">
            <Section extraClass="w-24 h-24 sm:w-32 sm:h-32 rounded-full overflow-hidden shadow-lg mx-auto sm:mx-0 flex-shrink-0" padding="false">
                <Image src={Profile_Photo} alt="" class="object-cover w-full h-full"/>
            </Section>
            <Section extraClass="flex flex-col sm:flex-row justify-between w-full" padding="false">
                <Section extraClass="flex flex-col items-center sm:items-start" padding="false">
                    <Text type="title" text="Hola, soy adardev"/>
                    <Text type="subTitle" text="Desarrollador Web y Movil"/>
                </Section>
                <Section extraClass="mt-4 sm:mt-0 flex justify-center sm:justify-end" padding="false">
                  <ButtonToolTip iconSrc={Cv_icon} label="Ver curriculum Vitae" link="/cvs/adardevCV.pdf"/>
                </Section>
            </Section>
        </Section>
        <Section extraClass="flex flex-col sm:flex-row gap-4 sm:gap-5 justify-center sm:justify-start" padding="false">
            <ButtonExpand link="https://adardev.com" iconSrc={Adardev_logo} label="adardev.com" hoverClass="hover:w-[8.8rem]"/>
            <ButtonExpand link="https://github.com/adardev" iconSrc={Github_logo} label="/adardev" hoverClass="hover:w-[7rem]" altIconSrc={null}/>
            <ButtonExpand link="https://www.linkedin.com/in/adardev" iconSrc={Linkedin_logo} label="/in/adardev" hoverClass="hover:w-[8.1rem]"/>
            <ButtonExpand link="https://www.youtube.com/@adardev1" iconSrc={Youtube_logo} label="/@adardev1" hoverClass="hover:w-[7.9rem]"/>
            <ButtonExpand link="https://maps.app.goo.gl/jgDoBZkpe1rsiSNm7" iconSrc={Map_icon} label="Guadalajara, México" hoverClass="hover:w-[12rem]"/>
            <ButtonExpand link="tel:+" iconSrc={Phone_icon} label="+52 56 6588 6939" hoverClass="hover:w-[10.65rem]"/>
        </Section>
    </Section>
    <About/>
    <Experience/>
    <Projects/>
    <Skills/>
</Layout>