---
import Text from "./text.astro";
const { year, title, subtitle, description, logo, titleKey, subtitleKey, descriptionKey } = Astro.props;
---

<div class="relative pl-16 sm:pl-24 group pb-12">
    <div class="absolute left-[-7px] sm:left-[-6px] top-[0.6rem] z-20">
        <Text as="div" type="badge" extraClass="w-[16px] h-[16px] bg-accent rounded-full @flex-center text-transparent transition-all duration-300 group-hover:w-16 group-hover:h-8 group-hover:text-bg-dark group-hover:bg-accent group-hover:shadow-lg cursor-pointer" text={year} />
    </div>

    <div class="w-full flex flex-col">
        <div class="flex flex-row justify-between gap-4 items-start w-full">
            <div class="flex-1 flex flex-col">
                <Text text={title} type="subTitle" color="text-title" i18nKey={titleKey} />
                <Text text={subtitle} type="text" extraClass="!text-subtitle !text-base sm:!text-lg pl-0" i18nKey={subtitleKey} />
            </div>

            {
                logo && (
                    <div class="shrink-0 flex items-center justify-end h-12 sm:h-16 text-body">
                        <div class="w-12 h-12" style={`-webkit-mask-image: url(${logo}); mask-image: url(${logo}); -webkit-mask-size: contain; mask-size: contain; -webkit-mask-repeat: no-repeat; mask-repeat: no-repeat; -webkit-mask-position: center; mask-position: center; background-color: currentColor;`} aria-hidden="true" />
                    </div>
                )
            }
        </div>

        <Text text={description} type="mini" extraClass="mt-2 leading-relaxed max-w-2xl" i18nKey={descriptionKey} />
    </div>
</div>
