---
const {importance, mt, mb, ml, mr, orientation, align, extraClass, padding} = Astro.props;
let containerClass = "";
let marginTop = "mt-none";
let marginBottom = "mb-none";
let marginLeft = "ml-none";
let marginRight = "mr-right";
let flexOrientation = "";
let alignment = "";
let p = "p-4";
if (mt == "true") {
    marginTop = "mt-4";
}
if (mb == "true") {
    marginBottom = "mb-4";
}
if (ml == "true") {
    marginLeft = "ml-4";
}
if (mr == "true") {
    marginRight = "mr-4";
}
if(importance == "primary") {
    containerClass = "bg-primaryBackground-light dark:bg-primaryBackground-dark";
}
if(importance == "secondary") {
    containerClass = "bg-secondaryBackground-light dark:bg-secondaryBackground-dark";
}
if(orientation == "col"){
    flexOrientation = "flex-row";
}
if(orientation == "row"){
    flexOrientation = "flex-col";
}
if (align == "center") {
    alignment = "items-center"
}
if (align == "left") {
    alignment = "items-start"
}
if (align == "right") {
    alignment = "items-end"
}
if (padding == "false") {
    p = "p-none"
}
---
<div class={`flex ${flexOrientation} ${marginTop} ${marginBottom} ${marginLeft} ${marginRight} ${alignment} ${extraClass} ${p} ${containerClass} rounded`}>
    <slot />
</div>