---
const {text, mt, mb, type, extraClass = ""} = Astro.props;
let marginTop = "";
let marginBottom = "";
let textSize = "";
let textWeight = "";
let color = "";

if (mt == "true") marginTop = "mt-4 sm:mt-6";
if (mb == "true") marginBottom = "mb-4 sm:mb-6";

if (type == "text") {
    textSize = "text-base sm:text-lg";
    textWeight = "font-medium";
    color = "text-body";
}
if (type == "title") {
    textWeight = "font-semibold";
    textSize = "text-3xl sm:text-4xl md:text-5xl";
    color = "text-title";
}
if (type == "subTitle") {
    textWeight = "font-bold";
    textSize = "text-lg sm:text-xl md:text-2xl";
    color = "text-subtitle";
}
if (type == "mini") {
    textSize = "text-xs sm:text-sm";
    textWeight = "font-light";
    color = "text-subtitle";
}
---
<p class={`${textSize} ${marginTop} ${marginBottom} ${textWeight} ${color} ${extraClass}`}>{text}</p>