---
const {text, mt, mb, type} = Astro.props;
let marginTop = "mt-none";
let marginBottom = "mb-none";
let textSize = "";
let textWeight = "";
if (mt == "true"){
    marginTop = "mt-4"
}
if (mb == "true"){
    marginBottom = "mb-4"
}
if (type == "text") {
    textSize = "text-2xl";
    textWeight = "font-medium"
}
if (type == "title") {
    textWeight = "font-semibold"
    textSize = "text-4xl";
}
if (type == "subTitle") {
    textWeight = "font-bold"
    textSize = "text-xl";
}
if (type == "mini") {
    textSize = "text-sm";
    textWeight = "font-light";
}
---
<p class={`${textSize} ${marginTop} ${marginBottom} ${textWeight} text-primary`}>{text}</p>